# Custom
.env
env
node_modules
docs
dist
dist-ssr
*.local

# Logs
logs
*.logs
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.AppleDouble
.LSOverride
